<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urbansafe">

    <!-- Permiso de Internet necesario para el modo debug -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permitir tráfico HTTP solo en modo debug -->
    <application android:usesCleartextTraffic="true" />

</manifest>
